.HomeComponent{
    /* border: 2px solid red; */
    border-radius: 10px;
    display: inline-block;
    font-weight: bold;
    height: 120px;
    width: 270px;
    margin: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: aliceblue;
    background-color: rgb(55, 55, 55);
}