.navbarContainer{
    border: 2px solid red;
    height: 10vh;
}
.navbarList{
    border: 2px solid green;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    height: 100%;
}
.listItem{
    border: 2px solid blue;
    margin: 1rem;
    padding: .5rem 1rem;
    display: flex;
    justify-self: center;
    align-items: center; 
}
.listItem:hover{
    cursor: pointer;
}