/* div{
    background-color: pink;
    width: 500px;
    height: 200px;
}
p{
    background-color: coral;
    width: 350px;
    height: 120px;
}
button{
    background-color: maroon;
    color: bisque;
} */

